# Hibernates the system when battery level drops to 0%
# https://wiki.archlinux.org/index.php/Laptop#Udev_events
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="0", RUN+="aclidswitch lowbat"
